---
title: Newman Solar
---

<section class="hero diagonal">
	<div class="container top-image">
		<img src="{{ site.baseurl }}/images/solarflag.jpg" alt="Newman Solar">
		<h2 class="editable">Newman Solar</h2>
		<p class="subtext editable">This is where words go.</p>
		<p><a class="button alt" href="{{ site.baseurl }}#contact">Contact Us</a></p>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container">
		<h3>Energy from the Sun, Why Go Solar?</h3>
		<p>
			Switching over to solar energy isn’t an easy and cheap decision to make. It’s a major decision which can affect the quality of life that you and your family will live for the rest of your time on earth. There are a number of things you need to know about solar power before you can arrive at a decision. So to help you make the best decision for yourself and your family, <a href="{{ site.baseurl }}/why_solar/">here are six reasons why more and more people have decided to go solar and why it would be wise for you to say yes, too.</a>
		</p>
	</div>

</section>

<section class="diagonal patterned" id="clients">
	<div class="container halves">
		<div>
			<h3 class="editable">Some of our work</h3>
			<p class="editable">We take pride in our previous work and our happy customers.</p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><img src="{% include relative-src.html src=client.image_path %}"></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate" id="contact">
	<div class="container halves">
		<div>
			<h1 class="company-name"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.png" alt="Newman Solar" width="150"></a></h1>
		</div>
		<div>
			<h3 class="editable">Contact info goes here</h3>
			<p class="editable">contact!</p>
		</div>
	</div>
</section>
