---
title: Newman Solar
---

<section class="hero diagonal">
	<div class="container top-image">
		<h2 class="editable"> Newman Solar
			<img src="{{ site.baseurl }}/images/solarflag.jpg" alt="Newman Solar">
		</h2>
		<p class="subtext editable">Newman Solar's professional sales consultants and design team can assist homeowners and business people to choose the correct Solar Panel Energy System for their home and business.  Whether you live/work in Nassau or Suffolk county of Long Island, we can show you how to save money and help the environment using Solar Power.  We get Sunshine for free almost every day, why not use it to Power Your World?</p>
		<p><a class="button alt" href="{{ site.baseurl }}#contact">Contact Us</a></p>
	</div>

	<div class="container">
		<div class="call-out">
			<p>
				Newman Solar is a proud Channel Partner with SUNation Solar
			</p>
			<img src="{{ site.baseurl }}/images/SuNationLogo2a.jpg" alt="SUNation Logo">
			<ul>
				<li>For the best possible Solar Energy experience</li>
				<li>For the greatest savings possible</li>
				<li>Giving you and for family confidence and strong backing for the Solar system we can have installed for you</li>
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container">
		<h3>Energy from the Sun, Why Go Solar?</h3>
		<p>
			Switching over to solar energy isn’t an easy and cheap decision to make. It’s a major decision which can affect the quality of life that you and your family will live for the rest of your time on earth. There are a number of things you need to know about solar power before you can arrive at a decision. So to help you make the best decision for yourself and your family, <a href="{{ site.baseurl }}/why_solar/">here are six reasons why more and more people have decided to go solar and why it would be wise for you to say yes, too.</a>
		</p>
	</div>

</section>

<section class="diagonal patterned" id="clients">
	<div class="container halves">
		<div>
			<h3 class="editable">Some of our work</h3>
			<p class="editable">We take pride in our previous work and our happy customers.</p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><img src="{% include relative-src.html src=client.image_path %}"></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate" id="contact">
	<div class="container halves top-image">
		<div>
			<h1 class="company-name"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/solarinstallation.jpg" alt="Professional solar installation" width="400"></a></h1>
		</div>
		<div>
			<h3 class="editable">{{ site.data.company.title }}</h3>
			<p class="editable">{{ site.data.company.address }} </br>
				{{ site.data.company.contact_phone_number }} </br>
				<a href="&#109;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x67;&#97;&#x72;&#121;&#64;&#110;&#101;&#x77;&#109;&#x61;&#x6e;&#115;&#111;&#x6c;&#x61;&#x72;&#46;&#110;&#x65;&#x74;">&#x67;&#97;&#x72;&#121;&#x40;&#x6e;&#101;&#x77;&#x6d;&#x61;&#110;&#x73;&#111;&#x6c;&#x61;&#114;&#x2e;&#110;&#101;&#x74;</a>
			</p>
		</div>
	</div>
</section>
